.footer-hr {
  color: #818181;
  margin: 0 20% 40px 20%;
}
.footer-hr2 {
  background-color: #818181;
}
.footer {
  padding-top: 50px;
  background: linear-gradient(
    64deg,
    rgb(0, 15, 22) 0%,
    rgb(46, 84, 87) 59%,
    rgb(108, 138, 136) 99%,
    rgb(113, 143, 141) 100%
  );
  color: #f1f1f1;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer li {
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  display: inline-block;
  color: #d9d9d9;
}
.footer a:hover {
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
.footer-d {
  margin: auto 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 700px) {
  .footer-d {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .footer-d {
    grid-template-columns: repeat(1, 1fr);
  }
}
.f1,
.f2,
.f3,
.f4 {
  margin-bottom: 60px;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    64deg,
    rgb(0, 15, 22) 0%,
    rgb(46, 84, 87) 59%,
    rgb(108, 138, 136) 99%,
    rgb(113, 143, 141) 100%
  );
  color: #f1f1f1;
}
